@{
    ViewData["Title"] = "За нас";
}
<h1 align="center" style="margin-top:50px">ЗА НАС</h1>
    <div class="row" style="margin-top:100px;">
    <div class="col-xl-6 col-lg-6 col-md-6">
<img src="https://i.etsystatic.com/18578543/r/il/59f587/2789880219/il_fullxfull.2789880219_kuib.jpg" width="500" />
        </div>
    <div class="col-xl-6 col-lg-6 col-md-6" style="margin-top:30px;">
        <h5>Студиото ни отвори врати през 2012 г. с цел да създаде автентично и
        приятелско пространство,което се фокусира върху професионални и
        качествени татуировки. Ние се стремим да създадем среда, която е забавна,
        приятелска, безопасна и приобщаваща за всички наши клиенти!
        <br />
         В момента разполагаме с петима татуисти, всеки със свой индивидуален
         стил и умения. Имаме над 10г. опит с рисуването на татуировки.
‍</h5>
        </div>
    </div>
