@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:50px;">
    <h2 class="display-4">ДОБРЕ ДОШЛИ</h2>
    <h2 class="display-4">В</h2>
    <h2 class="display-4">TATTOO STUDIO "INFINITY"</h2>
    <div class="row" style="margin-top:15px;"> 
        <div class="flex-column">
        <img src="https://images.ctfassets.net/cnu0m8re1exe/7Bm0KvDGVSttBQc0DdLsi9/27d66dab9bf0896634aa52db0a611702/Untitled_design.png" width="350" style="margin-right:80px;"/>
        <img src="https://www.tattoomagic.info/basics/images/2060_470774_featured_image-drawing-tartoo-vagina-and-penis.jpg" width="350" />
            </div>
            </div>
</div>
